@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-Medium.ttf);
  font-weight: 500;
}

.general_small-text {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 500;
  color: #282828;
}

@media (max-width: calc(992px - 0.02px)) {
  .general_small-text {
    font-size: 64px;
  }
}

@media (max-width: calc(768px - 0.02px)) {
  .general_small-text {
    font-size: 54px;
  }
}

@media (max-width: calc(576px - 0.02px)) {
  .general_small-text {
    font-size: 48px;
  }
}

@media (max-width: calc(321px - 0.02px)) {
  .general_small-text {
    font-size: 42px;
  }
}

.header-title {
  font-family: "Montserrat";
  font-size: 72px;
  font-weight: 700;
  color: #FFFFFF;
}

@media (max-width: calc(992px - 0.02px)) {
  .header-title {
    font-size: 64px;
  }
}

@media (max-width: calc(768px - 0.02px)) {
  .header-title {
    font-size: 48px;
  }
}

@media (max-width: calc(576px - 0.02px)) {
  .header-title {
    font-size: 36px;
  }
}

@media (max-width: calc(321px - 0.02px)) {
  .header-title {
    font-size: 28px;
  }
}

.header-subtitle {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
}

@media (max-width: calc(992px - 0.02px)) {
  .header-subtitle {
    font-size: 14px;
  }
}

@media (max-width: calc(768px - 0.02px)) {
  .header-subtitle {
    font-size: 14px;
  }
}

@media (max-width: calc(576px - 0.02px)) {
  .header-subtitle {
    font-size: 14px;
  }
}

@media (max-width: calc(321px - 0.02px)) {
  .header-subtitle {
    font-size: 12px;
  }
}

.header-subtitle_highlighted {
  color: #FFC700;
}

.mainfilter-text,
.footer_subtitle-text {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  color: #282828;
}

@media (max-width: calc(992px - 0.02px)) {
  .mainfilter-text,
  .footer_subtitle-text {
    font-size: 14px;
  }
}

@media (max-width: calc(768px - 0.02px)) {
  .mainfilter-text,
  .footer_subtitle-text {
    font-size: 14px;
  }
}

@media (max-width: calc(576px - 0.02px)) {
  .mainfilter-text,
  .footer_subtitle-text {
    font-size: 12px;
  }
}

@media (max-width: calc(321px - 0.02px)) {
  .mainfilter-text,
  .footer_subtitle-text {
    font-size: 12px;
  }
}

.mainfilter-tabs_highlighted {
  color: #0499DD;
}

.buttons-text {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
}

@media (max-width: calc(992px - 0.02px)) {
  .buttons-text {
    font-size: 14px;
  }
}

@media (max-width: calc(768px - 0.02px)) {
  .buttons-text {
    font-size: 14px;
  }
}

@media (max-width: calc(576px - 0.02px)) {
  .buttons-text {
    font-size: 14px;
  }
}

@media (max-width: calc(321px - 0.02px)) {
  .buttons-text {
    font-size: 14px;
  }
}

.sidefilter-header {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  color: #0499DD;
}

.sidefilter-options {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  color: #282828;
}

.cards-block_main-header {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  color: #0499DD;
}

@media (max-width: calc(992px - 0.02px)) {
  .cards-block_main-header {
    font-size: 24px;
  }
}

@media (max-width: calc(768px - 0.02px)) {
  .cards-block_main-header {
    font-size: 24px;
  }
}

@media (max-width: calc(576px - 0.02px)) {
  .cards-block_main-header {
    font-size: 24px;
  }
}

@media (max-width: calc(321px - 0.02px)) {
  .cards-block_main-header {
    font-size: 24px;
  }
}

.cards-block_tour-type {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 500;
  color: #FFC700;
}

@media (max-width: calc(992px - 0.02px)) {
  .cards-block_tour-type {
    font-size: 12px;
  }
}

@media (max-width: calc(768px - 0.02px)) {
  .cards-block_tour-type {
    font-size: 12px;
  }
}

@media (max-width: calc(576px - 0.02px)) {
  .cards-block_tour-type {
    font-size: 12px;
  }
}

@media (max-width: calc(321px - 0.02px)) {
  .cards-block_tour-type {
    font-size: 12px;
  }
}

.cards-block_tour-name {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  color: #282828;
}

@media (max-width: calc(992px - 0.02px)) {
  .cards-block_tour-name {
    font-size: 18px;
  }
}

@media (max-width: calc(768px - 0.02px)) {
  .cards-block_tour-name {
    font-size: 18px;
  }
}

@media (max-width: calc(576px - 0.02px)) {
  .cards-block_tour-name {
    font-size: 18px;
  }
}

@media (max-width: calc(321px - 0.02px)) {
  .cards-block_tour-name {
    font-size: 18px;
  }
}

.cards-block_tour-price {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  color: #0499DD;
}

@media (max-width: calc(992px - 0.02px)) {
  .cards-block_tour-price {
    font-size: 18px;
  }
}

@media (max-width: calc(768px - 0.02px)) {
  .cards-block_tour-price {
    font-size: 18px;
  }
}

@media (max-width: calc(576px - 0.02px)) {
  .cards-block_tour-price {
    font-size: 18px;
  }
}

@media (max-width: calc(321px - 0.02px)) {
  .cards-block_tour-price {
    font-size: 18px;
  }
}

.cards-block_ticket-type {
  font-family: "Montserrat";
  font-size: 10px;
  font-weight: 500;
  color: #282828;
}

@media (max-width: calc(992px - 0.02px)) {
  .cards-block_ticket-type {
    font-size: 10px;
  }
}

@media (max-width: calc(768px - 0.02px)) {
  .cards-block_ticket-type {
    font-size: 10px;
  }
}

@media (max-width: calc(576px - 0.02px)) {
  .cards-block_ticket-type {
    font-size: 10px;
  }
}

@media (max-width: calc(321px - 0.02px)) {
  .cards-block_ticket-type {
    font-size: 10px;
  }
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__container {
  margin: 0;
  height: auto;
  width: auto;
}

.header__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  z-index: -2;
  padding: 0px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 27px;
  margin-left: 160px;
  width: 40px;
  height: 58px;
}

.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-left: 160px;
  height: 88px;
  width: 756px;
}

.header__navbar {
  margin-top: -20px;
  margin-right: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.header__navbar-item {
  line-height: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0px 0px 0px 30px;
}

.header__navbar-item:visited {
  color: #FFFFFF;
  /* Цвет посещённой ссылки */
  text-decoration: none;
}

.header__navbar-item:hover {
  color: #FFC700;
  /* Цвет ссылки при наведении */
  text-decoration: none;
  /* Добавляем подчёркивание */
}
/*# sourceMappingURL=main.css.map */