@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-Medium.ttf);
  font-weight: 500;
}

.general_small-text {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 500;
  color: #282828;
}

@media (max-width: calc(992px - 0.02px)) {
  .general_small-text {
    font-size: 64px;
  }
}

@media (max-width: calc(768px - 0.02px)) {
  .general_small-text {
    font-size: 54px;
  }
}

@media (max-width: calc(576px - 0.02px)) {
  .general_small-text {
    font-size: 48px;
  }
}

@media (max-width: calc(321px - 0.02px)) {
  .general_small-text {
    font-size: 42px;
  }
}

.header-title {
  font-family: "Montserrat";
  font-size: 72px;
  font-weight: 700;
  color: #FFFFFF;
}

@media (max-width: calc(992px - 0.02px)) {
  .header-title {
    font-size: 64px;
  }
}

@media (max-width: calc(768px - 0.02px)) {
  .header-title {
    font-size: 48px;
  }
}

@media (max-width: calc(576px - 0.02px)) {
  .header-title {
    font-size: 36px;
  }
}

@media (max-width: calc(321px - 0.02px)) {
  .header-title {
    font-size: 28px;
  }
}

.header-subtitle {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
}

@media (max-width: calc(992px - 0.02px)) {
  .header-subtitle {
    font-size: 14px;
  }
}

@media (max-width: calc(768px - 0.02px)) {
  .header-subtitle {
    font-size: 14px;
  }
}

@media (max-width: calc(576px - 0.02px)) {
  .header-subtitle {
    font-size: 14px;
  }
}

@media (max-width: calc(321px - 0.02px)) {
  .header-subtitle {
    font-size: 12px;
  }
}

.header-subtitle_highlighted {
  color: #FFC700;
}

.mainfilter-text,
.footer_subtitle-text {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  color: #282828;
}

@media (max-width: calc(992px - 0.02px)) {
  .mainfilter-text,
  .footer_subtitle-text {
    font-size: 14px;
  }
}

@media (max-width: calc(768px - 0.02px)) {
  .mainfilter-text,
  .footer_subtitle-text {
    font-size: 14px;
  }
}

@media (max-width: calc(576px - 0.02px)) {
  .mainfilter-text,
  .footer_subtitle-text {
    font-size: 12px;
  }
}

@media (max-width: calc(321px - 0.02px)) {
  .mainfilter-text,
  .footer_subtitle-text {
    font-size: 12px;
  }
}

.mainfilter-tabs_highlighted {
  color: #0499DD;
}

.buttons-text {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
}

@media (max-width: calc(992px - 0.02px)) {
  .buttons-text {
    font-size: 14px;
  }
}

@media (max-width: calc(768px - 0.02px)) {
  .buttons-text {
    font-size: 14px;
  }
}

@media (max-width: calc(576px - 0.02px)) {
  .buttons-text {
    font-size: 14px;
  }
}

@media (max-width: calc(321px - 0.02px)) {
  .buttons-text {
    font-size: 14px;
  }
}

.sidefilter-header {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  color: #0499DD;
}

.sidefilter-options {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  color: #282828;
}

.cards-block_main-header {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  color: #0499DD;
}

@media (max-width: calc(992px - 0.02px)) {
  .cards-block_main-header {
    font-size: 24px;
  }
}

@media (max-width: calc(768px - 0.02px)) {
  .cards-block_main-header {
    font-size: 24px;
  }
}

@media (max-width: calc(576px - 0.02px)) {
  .cards-block_main-header {
    font-size: 24px;
  }
}

@media (max-width: calc(321px - 0.02px)) {
  .cards-block_main-header {
    font-size: 24px;
  }
}

.cards-block_tour-type {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 500;
  color: #FFC700;
}

@media (max-width: calc(992px - 0.02px)) {
  .cards-block_tour-type {
    font-size: 12px;
  }
}

@media (max-width: calc(768px - 0.02px)) {
  .cards-block_tour-type {
    font-size: 12px;
  }
}

@media (max-width: calc(576px - 0.02px)) {
  .cards-block_tour-type {
    font-size: 12px;
  }
}

@media (max-width: calc(321px - 0.02px)) {
  .cards-block_tour-type {
    font-size: 12px;
  }
}

.cards-block_tour-name {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  color: #282828;
}

@media (max-width: calc(992px - 0.02px)) {
  .cards-block_tour-name {
    font-size: 18px;
  }
}

@media (max-width: calc(768px - 0.02px)) {
  .cards-block_tour-name {
    font-size: 18px;
  }
}

@media (max-width: calc(576px - 0.02px)) {
  .cards-block_tour-name {
    font-size: 18px;
  }
}

@media (max-width: calc(321px - 0.02px)) {
  .cards-block_tour-name {
    font-size: 18px;
  }
}

.cards-block_tour-price {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  color: #0499DD;
}

@media (max-width: calc(992px - 0.02px)) {
  .cards-block_tour-price {
    font-size: 18px;
  }
}

@media (max-width: calc(768px - 0.02px)) {
  .cards-block_tour-price {
    font-size: 18px;
  }
}

@media (max-width: calc(576px - 0.02px)) {
  .cards-block_tour-price {
    font-size: 18px;
  }
}

@media (max-width: calc(321px - 0.02px)) {
  .cards-block_tour-price {
    font-size: 18px;
  }
}

.cards-block_ticket-type {
  font-family: "Montserrat";
  font-size: 10px;
  font-weight: 500;
  color: #282828;
}

@media (max-width: calc(992px - 0.02px)) {
  .cards-block_ticket-type {
    font-size: 10px;
  }
}

@media (max-width: calc(768px - 0.02px)) {
  .cards-block_ticket-type {
    font-size: 10px;
  }
}

@media (max-width: calc(576px - 0.02px)) {
  .cards-block_ticket-type {
    font-size: 10px;
  }
}

@media (max-width: calc(321px - 0.02px)) {
  .cards-block_ticket-type {
    font-size: 10px;
  }
}

.header_container picture {
  position: relative;
  width: 1400px;
  height: 290px;
  margin-top: 0px;
  margin-left: 0px;
}

.mainFilter_container {
  height: 260px;
  border: 1px solid #0984aa;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 40px;
  color: black;
}

.mainContent_container {
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 40px;
}

.mainFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainFilter_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.mainfilter-text {
  margin-bottom: 50px;
}

.mainfilter-text_item {
  margin-left: 20px;
}

.mainFilter_button {
  background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
  border-radius: 10px;
  width: 235px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.fa-location-dot {
  color: #0499DD;
  width: 30px;
  height: 30px;
  line-height: 26px;
  text-align: end;
  margin-right: -30px;
  position: relative;
  z-index: 1;
  float: left;
}

.mainFilter_input_place,
.mainFilter_input_date,
.mainFilter_input_people {
  padding-left: 10px;
  height: 50px;
  width: 235px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.sidefilter {
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 10px 40px;
}

.sideFilter_button {
  background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
  border-radius: 40px;
  width: 225px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
/*# sourceMappingURL=main.css.map */