// .feedbackForm {
//     display: none;

// }

.feedbackForm {
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 1px solid $blue;
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(170, 226, 243);
    position: absolute;
    left: 40%;
    top: 50%;

}

.formButton {
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    border-radius: 40px;
    width: 150px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.nameInput,
.telInput,
.emailInput {
    margin-bottom: 20px;
}

.formButton_close {
    background: linear-gradient(92.71deg, #ec9397 0%, #f7a9c7 100%);
}

// .formFullScreen {
//     display: none;
//     /* Скрыто по умолчанию */
//     position: fixed;
//     /* Оставаться на месте */
//     z-index: 1;
//     /* Сидеть на вершине */
//     left: 0;
//     top: 0;
//     width: 100%;
//     /* Полная ширина */
//     height: 100%;
//     /* Полная высота */
//     overflow: auto;
//     /* Включите прокрутку, если это необходимо */
//     background-color: rgb(0, 0, 0);
//     /* Цвет запасной вариант */
//     background-color: rgba(0, 0, 0, 0.4);
//     /* Черный с непрозрачностью */
// }/* Модальный (фон) */

#modalForm {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 150;
    display: none;
}

#filter {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
}

.appSentOff {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 150;
    display: none;
}

.appSent {
    display: block;
}

.errSentOff {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 150;
    display: none;
}

.appSent {
    display: block;
}