* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-footer {
    // display: flex;
    max-width: 100%;
    // margin: auto;
    background-color: $dark-gray;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 25px;
}

.row-padding {
    padding-top: 30px;
}

.footer-col footer_logo {
    position: relative;
    margin-top: 10px;
    margin-left: 160px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    margin-top: 10px;
    text-transform: capitalize;
    font: $title_font;
    display: block;
    color: $black;
    transition: all 0.3s;
    text-decoration: none;

    .footer-col ul li a:hover {
        color: $yellow;
        padding-left: 8px;
    }
}

.footer-col .footer-contacts a {
    margin-top: 10px;
    text-transform: capitalize;
    display: flex;
    position: relative;
    transition: all 0.3s;
    text-decoration: none;

    .footer-col .footer-contacts a:hover {
        color: $yellow;
        padding-left: 8px;
    }
}

.footer-col .footer-contacts .fa-whatsapp,
.fa-telegram {
    font-size: 12px;
    text-decoration: none;
    color: $black;
}


.footer-col .social-links a {
    display: inline-block;
    margin-top: 20px;
    height: 40px;
    width: 40px;
    background-color: $white;
    margin: 0 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: $blue;
    transition: all 0.5s;

    .footer-col .social-links a:hover {
        color: $white;
        background-color: $black;
    }
}