.mainFilter_container {
    //width: 1120px;
    height: 260px;
    border: 1px solid rgb(9, 132, 170);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 40px;
    color: black;
}

.mainContent_container {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 40px;
}

.mainFilter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.mainFilter_input {
    display: flex;

    justify-content: space-between;
    align-items: space-between;
}

.mainfilter-text {
    margin-bottom: 50px;

}

.mainfilter-text_item {
    margin-left: 20px;

}

.mainFilter_button {
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);

    border-radius: 10px;
    width: 235px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.fa-location-dot,
.fa-user-group {
    color: $blue;
    width: 30px;
    height: 30px;
    line-height: 26px;
    text-align: end;
    margin-right: -30px;
    position: relative;
    z-index: 1;
    float: left;
}



.mainFilter_input_place,
.mainFilter_input_date,
.mainFilter_input_people {
    padding-left: 10px;
    height: 50px;
    width: 235px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

.input_place,
.input_people {
    position: relative;
}

.fa-location-dot,
.fa-user-group {
    position: absolute;
    top: 10px;
    left: 210px;

}

.mainFilter_input_place,
.mainFilter_input_people {
    padding-right: 40px;

}

.fa-location-dot {
    font-size: 26px;
}

.fa-user-group {
    font-size: 22px;
}

* {
    border: 1px solid black;
}